{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}


    <div class="well" id="d">


                <div class="modal-body">
                    <div><a href="{{ path('fos_user_registration_register') }}">ajouter un agent</a> </div>
                </div>
    </div>



{% endblock fos_user_content %}