<!--
                /////////////////////////////////////////////////////////////////////////
                //////////     SLIDE LEFT CONTENT     //////////
                //////////////////////////////////////////////////////////////////////
-->
<div id="nav">
    <div id="nav-scroll">
        <div class="avatar-slide">

            <span class="easy-chart avatar-chart" data-color="theme-inverse" data-percent="100" data-track-color="rgba(255,255,255,0.1)" data-line-width="5" data-size="118">
                <span class="percent"></span>
                <img alt="" src="{{asset('uploads/users/'~app.user.picture)}}"  class="circle">
            </span>
            <!-- //avatar-chart-->

            <div class="avatar-detail">
                <p><strong>Bonjour</strong>,{{app.user.username}} </p>
                <!--<p><a href="#">@ Chaing Mai , TH</a></p>
                <span>12,110 Sales</span>
                <span>106 Follower</span>-->
            </div>
            <!-- //avatar-detail-->

           

        </div>
        <!-- //avatar-slide-->
        


    </div>
    <!-- //nav-scroller-->
</div>